<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.boot.dao.study.slave.StudySlaveMapper">

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.mvc.boot.entity.Study">
        select
       id,studyname
       from study
        where id = #{id}
    </select>
</mapper>